

<img src="/images/shelf_sketch.jfif" alt="could not load image">
<h1>Contents of your vault include:</h1>
<ol>
    <%@lists.each do |list| %>
    <a href='/lists/<%= list.id %>'><p><%=list.item%></p></a>
  <%end%>
</ol> 
<br>    
<br>                 
