<h2>All Your Items:</h2>
<ol>
<%@lists.each do |list|%>    
    <p><%=list.item%></p>              
<%end%>
</ol>                      

 <!--LINE 3 = has access to the instance variable @lists within the script tags-->
 <!--to evaluate Ruby code but not rendered into HTML.LINE 4 = then <p><%=>(substiute tags-->  
 <!--for writing code that will be evalutated into Ruby and inserted into HTML-->