


body {
  background: url("/images/grey_fade.jfif") no-repeat;  
  background-size: cover;
  border: 10px solid rgb(38, 63, 61);
  margin: 10px;
  }
  
.background {
  opacity: .04;
}

  h1{
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  nav,
  figcaption {
    text-align: center;
    margin: 0 auto;

  }

  nav a {
    padding: 0 10px;
    margin: 0 auto;
  }
  
   div {
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  
  h3 {
    float: center;
    background-color: rgb(149, 241, 248);
    width: 100%;
    text-align: 0 auto;
  }

  ol {
    text-align: center;
    width: 82%;
  }