.complete-button {
  color: green;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.nav-button {
  display: inline;
  background: none;
  border: red;
  font-size: 1em;
  color: black;
}


