
<h1>Log In</h1>
<%if @error%>
<p><%=@error%></p>
<%end%>
<form action="/login" method="post">
<label type="email">Email:</label>
<input type="text" name="email" id="">
<br>
<label type="password">Password:</label>
<input type="password" name="password" id="">
<input type="submit" value="log in">
 </form>