<div class="container">
  <header><img src="images/modular_shelf.jfif" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2> Welcome page TEST</h2>

    <div class="content">
      <p>Home Storage is an application to help you keep track of the things you keep in your house. After you create an account you can log all your items into your personal "vault" making an updated list of things you hold near and dear. 
      <br>
      Next time you have trouble finding that VHS tape of Top Gun you can just check your vault to see if you kept it!  </p>
    </div>

    <div class="sidebar">
      <h3>New Users start here.</h3>
      <a href="users/signup">Create Account </a>
        
      
    
    </div>

  </div>
</div>
