<div class="container">
  <h3><img src="images/filecab.png" class="img-responsive main-image"></h3>
  <div class="col-md-8 col-md-offset-2">
    <h1> Welcome to Home Storage!</h1>
  <div class="wrapper">
    <div class="content">
      <p>Home Storage is an application created to help you keep track of the things you hold near and dear. After you create an account you can log all your items into your personal "vault" making an updated list available for you to reference as needed.
      <br>
      Next time you have trouble finding that VHS tape of Top Gun you can just check your vault to see if you kept it!  </p>
    </div>
 

    <div class="sidebar">
      <h3>New Users start by creating an account with the link above.</h3>
      

        
      
    
    </div>
  </div>
  </div>
</div>
